.header{
/*background: #1e5799; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjA3Y2NhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWVlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #edeeec 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(100%,#edeeec)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#edeeec 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#edeeec 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#edeeec 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  #1e5799 0%,#207cca 0%,#edeeec 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#edeeec',GradientType=0 ); /* IE6-8 */
}

.logo-container .logo{
	opacity: 0.8;
	filter:alpha(opacity=80); /*For IE8*/
}

#ci_top_wrapper{
	/*background-image: url('images/billibuys_header.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width:100%;*/

	background: url('images/billibuys_header.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 900px;
}

#header_img{
	margin-top:-280px;
}

#testimonials{
	margin-left: 160px;
	margin-top: -33px;
}

/*.frontpage_top_links{
	z-index: 1;
	position: absolute;
}*/

.frontpage_top_links .text_link{
	font-family: "Arial";
	font-size: 18pt;
	color: rgb(149,140,137);
}

.logo_billibuys{
	margin-top: 30px;
}

#buy{
	background-color: #929cff;
	width: 660px;
	height: 700px;
	margin-left: -221px;
	padding-top: 200px;
	padding-left: 340px;
}

#sell{
	background-color: #86CC61;
	width: 680px;
	height: 660px;
	margin-left: 439px;
	padding-left: 340px;
	margin-top: -700px;
	padding-top: 200px;
}

.main{
	background:none;
}


#buyer_panel{
	width:380px;
	margin-left:65px;
}

.panel-default{
	border-color: #F5C84E;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -15px;
}

.panel_heading{
	font-family:'Fredericka the Great';
	font-size:26px;
	text-align: center;
	color:#F5C84E;
	margin-bottom:10px;
	font-weight:bold;
}

.panel_subheading{
	font-family:'Quando',serif;
	text-align:center;
	color:#495FF2;
	font-weight:bold;
}

#buyer_btn_lrn_more{
	margin-top: 30px;
	margin-left: 60px;
}

#seller_btn_lrn_more{
	margin-top: 30px;
	margin-left: 65px;
}

#seller_panel{
	margin-left: 467px;
	margin-top: -230px;
	width: 380px;
}

body{
	/*background-image:url("./images/brushed.png");*/
	background-color:#EDEEEC;
}

.steps_heading{
	color: #495FF2;
	font-weight: bold;
	font-size: 25px;
	margin-left:-15px;
}

.steps{
	width:960px;
	margin-top:60px;
}

.steps_images{
	margin-top:40px;
	margin-left:65px;
}

#buyer_step_img_2{
	margin-left:55px;
}

#buyer_step_img_3{
	margin-left:55px;
}

.steps_text{
	margin-top:20px;
}

#buyer_step_heading_1{
	margin-left:80px;
}

#buyer_step_text_1{
	margin-top:10px;
}

#buyer_step_heading_1{
	margin-left: 90px;
	font-weight: bold;
	color: blue;
}

#buyer_step_text_1{
	margin-left:70px;
}

#buyer_step_heading_2{
	margin-left: 430px;
	margin-top: -90px;
	width: 50px;
	font-weight: bold;
	color: blue;
}

#buyer_step_text_2{
	margin-left: 350px;
	width: 210px;
	margin-top: 10px;
}

#buyer_step_heading_3{
	margin-left: 710px;
	margin-top: -90px;
	width: 50px;
	font-weight: bold;
	color: blue;
}

#buyer_step_text_3{
	margin-left: 630px;
	width: 200px;
	margin-top: 11px;
}

.steps_text{
	text-align:center;
	width:270px;
	line-height:15px;
}

#cta_buyer{
	margin-left:380px;
	margin-top:60px;
}