.header{
	background: none;
}

.main{
	background:none;
}


#buyer_panel{
	width:380px;
	margin-left:65px;
}

.panel-default{
	border-color: #F5C84E;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -15px;
}

.panel_heading{
	font-size:26px;
	text-align: center;
	color:#F5C84E;
	margin-bottom:10px;
	font-weight:bold;
}

.panel_subheading{
	text-align:center;
	color:#495FF2;
	font-weight:bold;
}

#buyer_btn_lrn_more{
	margin-top: 30px;
	margin-left: 60px;
}

#seller_btn_lrn_more{
	margin-top: 30px;
	margin-left: 65px;
}

#seller_panel{
	margin-left: 467px;
	margin-top: -230px;
	width: 380px;
}

body{
	background-image:url("./images/brushed.png");
}

.steps_heading{
	color: #495FF2;
	font-weight: bold;
	font-size: 25px;
	margin-left:-15px;
}

.steps{
	width:960px;
	margin-top:60px;
}

.steps_images{
	margin-top:40px;
	margin-left:65px;
}

#buyer_step_img_2{
	margin-left:55px;
}

#buyer_step_img_3{
	margin-left:55px;
}

.steps_text{
	margin-top:20px;
}

#buyer_step_heading_1{
	margin-left:80px;
}

#buyer_step_text_1{
	margin-top:10px;
}

#buyer_step_heading_1{
	margin-left: 90px;
	font-weight: bold;
	color: blue;
}

#buyer_step_text_1{
	margin-left:70px;
}

#buyer_step_heading_2{
	margin-left: 430px;
	margin-top: -90px;
	width: 50px;
	font-weight: bold;
	color: blue;
}

#buyer_step_text_2{
	margin-left: 350px;
	width: 210px;
	margin-top: 10px;
}

#buyer_step_heading_3{
	margin-left: 710px;
	margin-top: -90px;
	width: 50px;
	font-weight: bold;
	color: blue;
}

#buyer_step_text_3{
	margin-left: 630px;
	width: 200px;
	margin-top: 11px;
}

.steps_text{
	text-align:center;
	width:270px;
	line-height:15px;
}

#cta_buyer{
	margin-left:340px;
	margin-top:60px;
}